<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😊</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="card">
        <p>Fico feliz que tenha aceitado. Acima de tudo, espero que se divita nas próximas semanas.</p>
        <a href="/">
            <button>Voltar para página inicial</button>
        </a>
    </div>

</body>
</html>