<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😊</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="card">
        <p style="text-align: center;">Fico feliz que tenha aceitado. Acima de tudo, espero que se divita nas próximas semanas.</p>
        <p style="text-align: center;">Volte semana que vem para o primeiro jogo.</p>
        <div class="button-group">
            <a href="/">
                <button>Voltar para página inicial</button>
            </a>
        </div>
    </div>

</body>
</html>