<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh força de vontade viu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <h1>Nossa, parace que você acertou muitas... isso não tava nos planos....</h1>
        <p>De qualquer forma: meus parabéns!!</p>
        <p>Agora uma charada diferente: o que o que é? No domingo usa verde, na terça preto, na quarta não é rosa, mas abusa do vermelho..</p>
        <div class="button-group">
            <a href="/">
                <button>Voltar para página inicial</button>
            </a>
        </div>
    </div>
</body>
</html>