<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me lembras a Asuna ❤️</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <p>Já devo ter até as falas decoradas de tanto que já assiti ele.</p>
        <p>Acho que ele foi um dos únicos animes que me fez chorar com o final. Por que era muito triste? Não, porque eu não queria que acabasse.</p>
        <p>Vamos concordar que parece que jogaram mel naquele kirito, neh? Tu é doido! Todas querem o Kirito — se duvidar, até eu quero o Kirito.</p>
        <p>Sabe o que eu tava pensando? Tu me lembra a Asuna... não sei exatamente porque... talvez o gênio, até mesmo aparencia, sei lá. enfim. Valeu de novo por recuperar minha conta.</p>
        <div class="button-group">
            <a href="/">
                <button>Voltar para página inicial</button>
            </a>
        </div>
    </div>
</body>
</html>