<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prometo que não sou um psciopata.</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

    <div class="card">
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmszdXNndm81b3pwY2Zidm84N3N6M3B3Mmd5Y3A0bnd0cm90Y29pYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/cLS1cfxvGOPVpf9g3y/giphy.gif" alt="Gatinho pidão" class="gif">
        
        <h1>Quer ir num encontro comigo? 🌹</h1>
        <p style="text-align: center;">Prometo que vai ser muito legal!</p>
        
        <div class="button-group">
            <a href="/aceita-por-favorzinho/verdade">
                <button id="sim">Sim! ✨</button>
            </a>
            <button id="nao" value="nao">Não</button>
        </div>
    </div>

    <script src="{{url_for('static', filename='script_convite_encontro_falso.js')}}"></script>
</body>
</html>