<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esquecer do que? Nem lembro mais</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <p>Pois bem, muito obrigado pela senhorita ter jogado tudo até aqui!</p>
        <p>Enfim, agora todo esse site será apagado e eu sumirei. Novamente: obrigado!</p>
    </div>
</body>
</html>