<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">

        <div>
            <a href="/apresentação"> 
                <button>Apresentação</button>
            </a>
            <a href="/porquinho">
                <button class="apagado" disabled>Porquinhos</button>
            </a>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">Não sei ainda</button>
            <button class="apagado">???????</button>
        </div>
        
    </div>
</body>
</html>