<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <h1 style="text-align: center;">Fases do Jogo</h1>
        
        <div class="button-group">
            
            <a href="/apresentacao"> 
                <button>🌹 Apresentação</button>
            </a>
            
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            <button class="apagado" disabled>🔒 Bloqueado</button>
            
        </div>
        
    </div>
</body>
</html>