<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valeu aí</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <h1>Eita, parece ser realmente muito boa nos jogos não? Tu ganha todos.</h1>
        <p>Esse jogo da velha me lembrou que...!</p>
        <p>Eu sou mais velho que tu. Bem mais velho... dependendo do referencial tu és uma criancinha.</p>
        <div class="button-group">
            <a href="/">
                <button>Voltar para página inicial</button>
            </a>
        </div>
    </div>
</body>
</html>