<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valeu aí</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <h1>Muito obrigado por me ajudar a recuperar os fujões!</h1>
        <p>Sabia que tenho um serio problema com animais? Não gosto de tocar muito neles não... ou deles perto de mim...</p>
        <a href="/">
            <button>Voltar para página inicial</button>
        </a>
    </div>
</body>
</html>