<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valeu aí</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <h1>Muito obrigado!</h1>
        <p>Você salvou o dia e recuperou todos os fujões!</p>
        <p>Curiosidade: eu tenho um sério problema com animais... Não gosto muito de tocar neles... nem deles perto, na verdade.</p>
        <div class="button-group">
            <a href="/">
                <button>Voltar para página inicial</button>
            </a>
        </div>
    </div>
</body>
</html>