<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porquinhos da Índia vieram da Índia?</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <h2>Caça aos Porquinhos</h2>
    <p>Meus porquinhos-da-índia fugiram da gaiola. Pode me ajudar pegando os 10?</p>

    <p id="contador">
        Encontrados: 0/10
    </p>

    <img
        id = "porquinho"
        src="{{url_for('static', filename = 'images/porquinho.webp')}}"
    >

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>