<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porquinhos da Índia vieram da Índia?</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="game-header">
        <h2>🐹 Caça aos Porquinhos</h2>
        <p>Meus porquinhos-da-índia fugiram! Pode me ajudar a recuperar os 10 fujões?</p>
        <span id="contador">Encontrados: 0/10</span>
    </div>

    <img
        id="porquinho"
        src="{{url_for('static', filename='images/porquinho.webp')}}"
        alt="Porquinho"
    >

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>