<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😊</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="card">
        <p>Tudo bem não ter aceitado, tudo de bom para você.</p>
        <p>Obs.: esse site não vai ser atualizado</p>
        <a href="/">
            <button>Voltar para página inicial</button>
        </a>
    </div>

</body>
</html>