<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vou é sumir</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="card">
        <p>Tá ok.... essa era a resposta que eu tava com mais medo...</p>
        <p>Enfim, nos próximos dias eu vou me revelar para a senhorita...</p>
        <p>O senhor... que humilhação....</p>
    </div>
</body>
</html>