<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como diria Cassia Éller: Palavras, palavras, palavras...</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}?v=1.1">
</head>
<body>
    <h1>Termo do Esquisito</h1>
    <p id="score">Score: 0/5</p>
    <div id="tabuleiro_termo"></div>
    <div>
        <p id="mensagem"></p>
        <button id="botao" style="display: none;"></button>
        <a href="/palavras/palavras">
            <button id="botao2" style="display: none;">?????</button>
        </a>
        <a href="/palavras/help">
            <button>Como jogar?</button>
        </a>
    </div>

    <script>
        const palavraCorreta = "{{ palavra }}";
    </script>
    
    <script src="{{url_for('static', filename = 'script_termo.js')}}"></script>
</body>
</html>